GA4_PROPERTY_ID=123456789
GA4_CLIENT_EMAIL=ga4-service-account@your-project.iam.gserviceaccount.com
GA4_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_LINE_1\nYOUR_PRIVATE_KEY_LINE_2\n-----END PRIVATE KEY-----\n"
GA4_START_DATE=2026-04-02
GA4_PAGE_PATH=/
GA4_COUNT_METRIC=screenPageViews
GA4_API_HOST=127.0.0.1
GA4_API_PORT=3010
